@model IEnumerable<Garage.Models.Feedback>

@{
    ViewData["Title"] = "Feedback";
}

<div class="container">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FahrzeugArt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mitteilung)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modellauswahl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FahrzeugArt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mitteilung)
                    </td>
                    <td>
                        @{ var info = item.GetServiceQuality(item.Service);}
                        <label>@info</label>
                    </td>
                    <td>
                        @{ var info2 = item.GetServiceQuality(item.Modellauswahl);}
                        <label>@info2</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>